<launch>
  <arg name="GUI" default="true" />
  <arg name="MODEL_FILE" default="$(find nextage_description)/models/main.wrl" />
  <include file="$(find nextage_ros_bridge)/launch/nextage_startup.launch" >
    <arg name="GUI" default="$(arg GUI)" />
  </include>
  <include file="$(find nextage_ros_bridge)/launch/nextage_ros_bridge.launch" >
    <arg name="nameserver" value="localhost" />
    <arg name="MODEL_FILE" value="$(arg MODEL_FILE)" />
    <arg name="SIMULATOR_NAME" value="HiroNX(Robot)0" />
  </include>
</launch>
