<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nextage_gazebo)/config/nextage_gazebo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" args="--shutdown-timeout 0.1
                                           joint_state_controller
                                           larm_controller
                                           rarm_controller
                                           head_controller
                                           torso_controller
                                         "/>
  <node name="go_initial" pkg="nextage_gazebo"  type="go_initial.py" />
</launch>
