<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nextage_gazebo)/config/nextage_gazebo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" ns="/NextageOpen" args="joint_state_controller
                                           CHEST_JOINT0_position_controller
                                           HEAD_JOINT0_position_controller
                                           HEAD_JOINT1_position_controller
                                           LARM_JOINT0_position_controller
                                           LARM_JOINT1_position_controller
                                           LARM_JOINT2_position_controller
                                           LARM_JOINT3_position_controller
                                           LARM_JOINT4_position_controller
                                           LARM_JOINT5_position_controller
                                           RARM_JOINT0_position_controller
                                           RARM_JOINT1_position_controller
                                           RARM_JOINT2_position_controller
                                           RARM_JOINT3_position_controller
                                           RARM_JOINT4_position_controller
                                           RARM_JOINT5_position_controller
                                           L_trajectory_controller
                                           R_trajectory_controller
                                         "/>
</launch>
