<launch>

  <arg name="publish_tf" default="true" />
  <arg name="launch_openni2" default="true" />
  
  <arg name="TF_COORD_XYZ" default="0.062367406594775215 0.07536259323525744 0.12330820494245931" />
  <arg name="TF_COORD_RPY" default="-0.03346088258363324 0.1383150116022393 -0.014468436806528857" />
  <arg name="TF_COORD" default="$(arg TF_COORD_XYZ) $(arg TF_COORD_RPY)" />

  <include file="$(find openni2_launch)/launch/openni2.launch"
           if="$(arg launch_openni2)">
    <arg name="depth_registration" value="true"/>
    <arg name="publish_tf" value="$(arg publish_tf)" />
    <arg name="rgb_camera_info_url" value="file://${ROS_HOME}/camera_info/rgb_PS1080_PrimeSense.yaml" />
  </include>
  <include file="$(find freenect_launch)/launch/freenect.launch"
           unless="$(arg launch_openni2)">
    <arg name="depth_registration" value="true"/>
    <arg name="publish_tf" value="$(arg publish_tf)" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="head_to_kinect_frame"
        args="$(arg TF_COORD) /HEAD_JOINT1_Link /camera_link 100"
        if="$(arg publish_tf)" />  

</launch>
