<?xml version="1.0"?>

<model>
  <name>MarkerBox-60mm</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>yydesign</name>
    <email>yamamoto.yosuke@gmail.com</email>
  </author>

  <description>
    A 60 x 60 x 60 mm marker box. 
    Marker size 45 x 45 mm. 
  </description>
</model>
